1.cnf|SWING 
4.cnf|MODE:DRY|FAN:MIN|TEMP:21
5.cnf|MODE:AUTO|FAN:MIN|TEMP:AUTO
6.cnf|MODE:AUTO|FAN:MED|TEMP:AUTO
7.cnf|MODE:AUTO|FAN:MAX|TEMP:AUTO
8.cnf|MODE:AUTO|FAN:AUTO|TEMP:AUTO
9.cnf|MODE:FAN|FAN:MIN|TEMP:23
10.cnf|MODE:FAN|FAN:MED|TEMP:23
11.cnf|MODE:FAN|FAN:MAX|TEMP:23
12.cnf|MODE:COOL|FAN:1|TEMP:16
13.cnf|MODE:COOL|FAN:1|TEMP:17
14.cnf|MODE:COOL|FAN:1|TEMP:18
15.cnf|MODE:COOL|FAN:1|TEMP:19
16.cnf|MODE:COOL|FAN:1|TEMP:20
17.cnf|MODE:COOL|FAN:1|TEMP:21
18.cnf|MODE:COOL|FAN:1|TEMP:22
19.cnf|MODE:COOL|FAN:1|TEMP:23
20.cnf|MODE:COOL|FAN:1|TEMP:24
21.cnf|MODE:COOL|FAN:1|TEMP:25
22.cnf|MODE:COOL|FAN:1|TEMP:26
23.cnf|MODE:COOL|FAN:1|TEMP:27
24.cnf|MODE:COOL|FAN:1|TEMP:28
25.cnf|MODE:COOL|FAN:1|TEMP:29
26.cnf|MODE:COOL|FAN:1|TEMP:30
27.cnf|MODE:COOL|FAN:2|TEMP:16
28.cnf|MODE:COOL|FAN:2|TEMP:17
29.cnf|MODE:COOL|FAN:2|TEMP:18
30.cnf|MODE:COOL|FAN:2|TEMP:19
31.cnf|MODE:COOL|FAN:2|TEMP:20
32.cnf|MODE:COOL|FAN:2|TEMP:21
33.cnf|MODE:COOL|FAN:2|TEMP:22
34.cnf|MODE:COOL|FAN:2|TEMP:23
35.cnf|MODE:COOL|FAN:2|TEMP:24
36.cnf|MODE:COOL|FAN:2|TEMP:25
37.cnf|MODE:COOL|FAN:2|TEMP:26
38.cnf|MODE:COOL|FAN:2|TEMP:27
39.cnf|MODE:COOL|FAN:2|TEMP:28
40.cnf|MODE:COOL|FAN:2|TEMP:29
41.cnf|MODE:COOL|FAN:2|TEMP:30
44.cnf|MODE:COOL|FAN:3|TEMP:16
45.cnf|MODE:COOL|FAN:3|TEMP:17
46.cnf|MODE:COOL|FAN:3|TEMP:18
47.cnf|MODE:COOL|FAN:3|TEMP:19
48.cnf|MODE:COOL|FAN:3|TEMP:20
49.cnf|MODE:COOL|FAN:3|TEMP:21
50.cnf|MODE:COOL|FAN:3|TEMP:22
51.cnf|MODE:COOL|FAN:3|TEMP:23
52.cnf|MODE:COOL|FAN:3|TEMP:24
53.cnf|MODE:COOL|FAN:3|TEMP:25
54.cnf|MODE:COOL|FAN:3|TEMP:26
55.cnf|MODE:COOL|FAN:3|TEMP:27
56.cnf|MODE:COOL|FAN:3|TEMP:28
57.cnf|MODE:COOL|FAN:3|TEMP:29
58.cnf|MODE:COOL|FAN:3|TEMP:30
59.cnf|MODE:COOL|FAN:AUTO|TEMP:16
60.cnf|MODE:COOL|FAN:AUTO|TEMP:17
61.cnf|MODE:COOL|FAN:AUTO|TEMP:18
62.cnf|MODE:COOL|FAN:AUTO|TEMP:19
63.cnf|MODE:COOL|FAN:AUTO|TEMP:20
64.cnf|MODE:COOL|FAN:AUTO|TEMP:21
65.cnf|MODE:COOL|FAN:AUTO|TEMP:22
66.cnf|MODE:COOL|FAN:AUTO|TEMP:23
67.cnf|MODE:COOL|FAN:AUTO|TEMP:24
68.cnf|MODE:COOL|FAN:AUTO|TEMP:25
69.cnf|MODE:COOL|FAN:AUTO|TEMP:26
70.cnf|MODE:COOL|FAN:AUTO|TEMP:27
71.cnf|MODE:COOL|FAN:AUTO|TEMP:28
72.cnf|MODE:COOL|FAN:AUTO|TEMP:29
73.cnf|MODE:COOL|FAN:AUTO|TEMP:30
80.cnf|POWER|MODE:COOL|FAN:MED|TEMP:23
